@model ICollection<UserWorkout>
@{
    ViewBag.Title = Model.FirstOrDefault().Workout.Name;

    var workouts = Model
        .OrderByDescending(w => w.Date)
        .ToList();

    var latest = workouts.FirstOrDefault();
    var history = workouts
        .Skip(1)
        .ToList();
}

@helper WorkoutRow(UserWorkout workout)
{
    var properties = workout.Properties
        .Where(p => p.Value.HasValue)
        .OrderBy(p => p.Property.Order);

    <div class="row">
        <div class="col-xs-7">
            @Html.ActionLink(workout.Date.FriendlyDate(), "Edit", new { userWorkoutId = workout.Id })
            <small>@workout.Comment</small>
        </div>
        <div class="col-xs-5 properties light">
            @if (properties.Any())
            {
                <ul>
                    @foreach (var property in properties)
                    {
                        <li>@property.Property.Name <span><strong>@property.GetValue()</strong> @property.Property.Unit</span></li>
                    }
                </ul>
            }
        </div>
    </div>
}

<div class="btn-set btn-group-lg">
    <a href="@Url.Action("List")" class="btn btn-info">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a href="@Url.Action("Add", new { workoutId = latest.WorkoutId })" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>

<h2>Latest Workout</h2>

<div class="row-set">
    @WorkoutRow(latest)
</div>

@if (history.Any())
{
    <h2>Previous Workouts</h2>

    <div class="row-set">

        @foreach (var workout in history)
        {
            @WorkoutRow(workout)
        }

    </div>
}

<em class="footer-info">Showing workouts from the past 2 months.</em>

